* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v419_285 {
  width: 100%;
  height: 1080px;
  background: rgba(22,26,12,1);
  padding: 378px 172px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v420_305 {
  width: 263px;
  color: rgba(255,158,2,1);
  position: absolute;
  top: 468px;
  left: 829px;
  font-family: Bright Sunlist DEMO VERSION;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v420_313 {
  width: 286px;
  color: rgba(255,158,2,1);
  position: absolute;
  top: 54px;
  left: 817px;
  font-family: Buenard;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v423_291 {
  width: 182px;
  height: 209px;
  background: url("../images/v423_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 13px;
  overflow: hidden;
}
.v423_292 {
  width: 180px;
  height: 207px;
  background: url("../images/v423_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1948px;
  overflow: hidden;
}
.v423_293 {
  width: 262px;
  height: 300px;
  background: url("../images/v423_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 249px;
  overflow: hidden;
}
.v423_294 {
  width: 262px;
  height: 300px;
  background: url("../images/v423_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 1686px;
  overflow: hidden;
}
.v420_306 {
  width: 476px;
  height: 35px;
  background: rgba(38,40,26,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 722px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v420_315 {
  width: 188px;
  height: 35px;
  background: linear-gradient(rgba(251,215,137,1), rgba(255,158,15,1));
  opacity: 1;
  position: absolute;
  top: 580px;
  left: 865px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v420_317 {
  width: 190px;
  height: 37px;
  background: linear-gradient(rgba(255,158,2,1), rgba(231,80,19,1));
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 864px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
